h1 {
  color: Black;
}

img {
      max-width: 10%;
      height: auto;
}

.eddy {
        width: 10px;
        height: 10px;
        position: static;
        display: inline-block;
    }
.eddy .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

.eddy:hover .img-top {
        display: inline;
    }

 
