h1 {
  color: Black;
}



.eddy-box {
        position: relative;
        display: inline-block;
    }

.eddy-img {
      max-width: 40%;
      height: auto;
      transform: rotate(90deg);
}

.eddy-box .img-top {
        display: none;
        position: absolute;
/*         top: 0;
        left: 0;
        z-index: 99; */
    }

.eddy-box:hover .img-top {
        display: inline;
    }

 
