h1 {
  color: Black;
}

.eddy {
  max-width: 100%;
  height: auto;
  background: url("images/edd1.jpeg") no-repeat;
  display: inline-block;

}

.eddy:hover {
  background: url("images/edd2.jpeg") no-repeat;
}


 
